body {
    padding: 50px;
}
.product {
    background-color: #99b3ff;
    border-radius: 8px;
    padding: 10px;
}
.title {
    font-size: 24px;
    display: inline;
    margin-right: 10px;
}
.details {
    color: gray;
}
.price {
    display: inline;
    font-size: 18px;
    color: green;
}
.quantity {
    margin-bottom: 5px;
}